name: Build Laravel Base Image

on:
  push:
    paths:
      - "laravel/**"
      - ".github/workflows/laravel-image.yml"

jobs:
  cd:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          load: true
          images: ghcr.io/${{ github.repository }}/laravel
          flavor: |
            latest=false
          tags: |
            type=sha
            type=ref,event=branch

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:laravel"
          push: true
          cache-from: type=gha,scope=${{ github.ref_name }}-build
          cache-to: type=gha,mode=max,scope=${{ github.ref_name }}-build
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,compression=zstd,compression-level=3
